<div class="ws-hero">
    <div class="ws-hero-cell new">
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">JavaScript</div></div>
        <div class="ws-hero-article-title">
          Creating a NodeJS Server with JavaScript
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">Angular</div></div>
        <div class="ws-hero-article-title">
          The Basics of Routing in Angular
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">React</div></div>
        <div class="ws-hero-article-title">
          Using React's New Lifecycle Hooks
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">Vue</div></div>
        <div class="ws-hero-article-title">
          Taking Advantage of the Composition API
        </div>
      </article>
      <article class="ws-hero-article">
        <div class="ws-hero-article-framework"><div class="ws-framework-label">CSS</div></div>
        <div class="ws-hero-article-title">
          Using the ::before and ::after Selectors
        </div>
      </article>
    </div>
    <div class="ws-hero-cell title">
      <div class="ws-title-card">
        <div class="ws-title-card-information">
          <div class="ws-title-card-information-header">Customizing NG2-Charts in Angular</div>
        </div>
        <div class="ws-title-card-banner primary">
          <div class="ws-title-card-banner-header">Samples on Stackblitz</div>
          <img src="../assets/icons8-code-90.png" alt="" style="transform: rotate(-18deg);">
        </div>
        <div class="ws-title-card-banner secondary">
          <img src="../assets/icons8-github-100.png" alt="" style="transform: rotate(18deg);">
          <div class="ws-title-card-banner-header">Projects On Github</div>
        </div>
        <div class="ws-title-card-banner tertiary">
          <div class="ws-title-card-banner-header">Getting Started</div>
          <img src="../assets/icons8-runner-on-the-start-100.png" alt="" style="margin-top: 25px;">
        </div>
      </div>
    </div>
</div>